 
 body
 {
margin:0;
color: #454545;
font-family: 'Lucida Grande, Tahoma, Verdana, Arial, sans-serif'; 
font-size: 18px; 
background: -webkit-linear-gradient(#a1c0f6, #c5c5b6);
background: -o-linear-gradient(red, yellow); 
background: -moz-linear-gradient(#0077b3, #0b6193); 
background: linear-gradient(#0b92f6, #f68e06); 
}
p
{
padding-left:16px;
padding-right:14px;
text-align: justify;
font-size: 14px;
padding-top:0px;
line-height:30px;
}
.topbar
{
position: fixed;
width: 100%;
height: 100px;
opacity: 0.7;
z-index: 1;
top: 0;
left: 0;
font-family:'Tangerine';
}
h2
{
font-family:'Tangerine';
font-size: 50px; 
color: #FFFFFF;
}
ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #0077b3;
}
ul li {float: left;}
ul li a {
display: inline-block;
color: #f2f2f2;
text-align: center;
padding: 14px 20px;
text-decoration: none;
transition: 0.3s;
font-size: 40px;
}
ul li a:hover {background-color: #333;}
ul li.icon {display: none;}
@media screen and (max-width:600px) {
ul li:not(:first-child) {display: none;}
ul li.icon {
display: inline-block;
}
}
@media screen and (max-width:600px) {
ul.responsive {position: relative;}
ul.responsive li.icon {
position: absolute;
right: 0;
top: 0;
}
ul.responsive li {
float: none;
display: inline;
}
ul.responsive li a {
display: block;
text-align: left;
}
}
.img-circle {
    width:300px;
	height:220px;
	border:9px solid #fff;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.75);
    border-radius:50%;
	}
#slideimg
{
width:100%;
border-radius:2px;
margin-top:67px;
border:5px solid #FAFAFA;
box-shadow: 4px 4px 4px 4px rgba(2,2,2,2);

}
.section1
{
border-radius:30%;
width:350px;
height:150px;
margin-bottom:0px;
border:9px solid #fff;
box-shadow: 0 0 6px 1px rgba(0,0,0,.75);
}
 .section2
{
border-radius:50%;
width:350px;
height:150px;
margin-bottom:0px;
border:9px solid #fff;
box-shadow: 0 0 6px 1px rgba(0,0,0,.75);
 }
footer {
    font-size: 30px;
    background-color: #0077b3;
    clear: left;
    text-align: center;
     font-family:'Tangerine';
     line-height: 60px;
	}
